{% extends 'layout.html.twig' %}

{% block title %}Page Fille - Test Héritage{% endblock %}

{% block body %}
    <h2>Bienvenue sur la page enfant</h2>
    <p>Ce contenu remplace le bloc "body" du parent.</p>
{% endblock %}
