<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Modules{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body>
    <h1>Les modules de Tek-Up</h1>

    {% block body %}
        <p>Contenu par défaut du template parent</p>
    {% endblock %}
</body>
</html>
